# Salin file ini menjadi ".env" lalu isi dengan data dari GitHub OAuth App kamu.
# Buat OAuth App di: https://github.com/settings/developers -> "New OAuth App"

# Homepage URL     : https://repo-plum-seven-94.vercel.app/
# Authorization callback URL : https://repo-plum-seven-94.vercel.app/auth/login

GITHUB_CLIENT_ID=Ov23li9l7vNUNvjZsL5d
GITHUB_CLIENT_SECRET=c646921ac4149ee7fdb24465f42bb379fc477253
GITHUB_CALLBACK_URL=https://repo-plum-seven-94.vercel.app/auth/callback

# String acak panjang untuk enkripsi session cookie
SESSION_SECRET=aB3$kL9#mQpXz@7vRwY!cF2&nJtU6*eH4%gSdZ5^oI8?qW

PORT=3000
